{% extends 'base.html.twig' %}

{% block title %}Articulo index{% endblock %}

{% block body %}
    <h1>Articulo index</h1>
{{ dump(usuario) }}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Talla</th>
                <th>Color</th>
                <th>Precio_uni</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for articulo in articulos %}
            <tr>
                <td>{{ articulo.id }}</td>
                <td>{{ articulo.talla }}</td>
                <td>{{ articulo.color }}</td>
                <td>{{ articulo.precioUni }}</td>
                <td>
                    <a href="{{ path('articulo_show', {'id': articulo.id}) }}">show</a>
                    <a href="{{ path('articulo_edit', {'id': articulo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('articulo_new') }}">Create new</a>
{% endblock %}
